.style_layout {
    width: 6.4rem;
    min-height: 2rem;
}


/*
.style_logo,
.style_search,
.style_banner,
.style_new,
.style_hot,
.style_fasion,
.style_footer{
    width: 6.4rem;
    height: 1rem;
}
*/

.style_logo {
    background-color: #f3f3f3;
    width: 6.4rem;
}

.style_logo span {
    width: 2.1rem;
    display: block;
    padding: 0.3rem 0;
    margin-left: 2.15rem;
}

.style_logo img {
    width: 100%;
}

.style_search div {
    width: 1rem;
    background: #e4e4e4;
    text-align: center;
    float: right;
    margin-top: 0.2rem;
}

.style_search input {
    border: 1px solid #e4e4e4;
    width: 5.4rem;
    height: 0.70rem;
    float: left;
    border-radius: 5px;
    margin-top: 0.2rem;
}

.style_search img {
    width: 0.46rem;
    padding: 0.1rem 0;
}

.style_banner img {
    width: 100%;
}

.style_new {
    text-align: center;
    border-bottom: 10px solid #e4e4e4;
    padding-top: 0.4rem;
}

.style_new .img1 {
    float: left;
    width: 33%;
}

.style_new img {
    width: 100%;
}

.style_new button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.style_hot {
    text-align: center;
    padding-top: 0.4rem;
}

.style_hot h3{
    margin-bottom: 0.3rem;
}

.style_hot img {
    float: left;
    width: 31%;
    margin: 0.07rem;
}
.img2{
height: 5.7rem;
 border-bottom: 10px solid #e4e4e4;
}
.img2 button{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
button{
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 0.06rem;
}
.style_fasion img{
    width: 100%;
    height: 100%;
}
.style_fasion{
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.style_fasion h3{
    margin-bottom: 0.4rem;
}


/*注册 登录*/
.register_layout{
    padding: 30% 0 42% 0;
    width:100%;
    background:url(../img/jing.gif) center;
   
}
.ad{
    color: #fff;
}
.register_logo {
    padding-top: 1.6rem;
     text-align: center;
    color: #d1d0d0;
    font-size: 0.15rem;
    margin-bottom: 0.32rem;
}

.register_logo span {
    width: 1.6rem;
    display: block;
    margin-left: 2.4rem;
}

.register_logo img {
    width: 100%;
}
.register_mian{
   width:100%;
    padding-left: 0.5rem;
    margin-bottom: 1.73rem;
    
}
.register_mian div{
    position: absolute;
    right: 8%;
    margin-top: -35px;
}
.register_mian input{
   border-bottom: 2px #5c5a5a solid;
    width: 5.4rem;
    padding-bottom: 0.07rem;
    font-size: 0.15rem;
    margin-bottom: 0.21rem;
    color: #a9a9a9;
    background-color:transparent;
}
.register_mian button{
    width: 5.4rem;
    border: 2px #5c5a5a solid;
    color: #a9a9a9;
    background-color:transparent;
}
.register_footer{
    width: 100%;
    padding:0 0.5rem ;
    padding-bottom: 0.41rem;
}
.register_footer a{
    color: #bbbaba;
    font-size: 0.15rem;
}

#ma{
   float: right;
}
.ma{
 padding-bottom:0.3rem; 
}

#a{
    color: #fff;
    
}
a{
    color: #bbbaba;
}